<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
</head>
<body>
  <div>
    <p>
      <span>Thank you </span>
      <span th:text="${name}"></span>
      <span> For your </span>
      <span th:text="${messageType}"></span>
      <span> We will reach out to you on your email </span>
      <span th:text="${email}"></span>
      <span> soon. </span>
    </p>
    <a href="/">Go back to home page</a>
  </div>
  <html>
  <head>
    <meta charset="utf-8">
    <style>
   body {
        background: url(https://cutewallpaper.org/21/tumblr-plain-backgrounds/Light-Pink-Glitter-Background-For-Iphone-Flower-Design-.jpg) no-repeat;
    background-size: 100%;
     </style>
  </head>
  <body>
  </body>
  </html>
</body>
</html>